@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Raleway');
body{
    background: linear-gradient(to bottom, #292e49, #536976) center no-repeat fixed;
    background-size: cover;
}

h1{
    font-family: "Lato", sans-serif;
    color:#FFFFFF;
    align-self:center;
}
h2{
    font-family:"Raleway", sans-serif;
    color:#FFC222;
}
.left{
    margin:left;
    padding: 15px;
    width:33.33%;
}
.center{
    margin:auto;
    padding: 15px;
    width:33.33%;
}

.button-main{
    color:#FFFFFF;
    background-color:#FF0000;
    padding: 10px, 10px;
    border-width:0px;
    text-align: center;
    size: 50%;
}
textarea {
    text-align:left;
    width:600px;
    height:60px;
    box-sizing: border-box;
}
